<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>{$confres.sitename.value}-{$cate.catename}</title>
    <link rel="icon" href="__ADMIN__/images/vimeo.png" type="image/x-icon" />
    <link rel="shortcut icon" href="__ADMIN__/images/vimeo.png" type="image/x-icon" />
<meta name="description" content="ThinkPHP5.0" />
<meta name="keywords" content="{$confres.keywords.value}" />
    <link href="__INDEX__/style/bootstrap.css" rel="stylesheet">
    <script src="__INDEX__/style/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="__INDEX__/style/style.css" />
    <script src="__INDEX__/style/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jquery.error.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jtemplates.js" type="text/javascript"></script>
    <script src="__INDEX__/style/jquery.form.js" type="text/javascript"></script>
    <script src="__INDEX__/style/lazy.js" type="text/javascript"></script>
    <script type="text/javascript" src="__INDEX__/style/wp-sns-share.js"></script>
    <script type="text/javascript" src="__INDEX__/style/voterajax.js"></script>
    <script type="text/javascript" src="__INDEX__/style/userregister.js"></script>

    <link rel="stylesheet" href="__INDEX__/style/votestyles.css" type="text/css" />
    <link rel="stylesheet" href="__INDEX__/style/voteitup.css" type="text/css" />
   <link rel="stylesheet" href="__INDEX__/style/list.css" type="text/css" />
</head>
<body id="list_style_2" class="list_style_2">

<script type="text/javascript">
    function showMask() {
        $("#mask").css("height", $(document).height());
        $("#mask").css("width", $(document).width());
        $("#mask").show();
    }  
</script>
<div id="mask" class="mask" onclick="CloseMask()"></div> 
{include file="public/head"}
    <div id="wrapper">
       

    <div id="xh_container">
        <div id="xh_content">

        <div class="path"><a href='{:url('index/index')}'>主页</a> > 
            {volist name="arr" id="Res"}
            <a href='{:url('artlist/index',array('cateid'=>$Res['id']))}'>{$Res.catename}</a> > 
            {/volist}
        </div><div class="clear"></div>
            <div class="xh_area_h_3" style="margin-top: 40px;">
 {volist name="data" id="Res"}
    <div class="xh_post_h_3 ofh">
                       
                            <div class="xh">
                                <a target="_blank" href="{:url('article/index',array('id'=>$Res['id']))}" title="{$Res.title}">
                                    <img src="{$Res.thumb}" alt="{$Res.title}" height="240" width="400"></a></div>
                            <div class="r ofh">
                                <h2 class="xh_post_h_3_title ofh" style="height:60px;">
                                    <a target="_blank" href="{:url('article/index',array('id'=>$Res['id']))}" title="{$Res.title}">{$Res.title}</a>
                                </h2>
                                <span class="time">{$Res.time|date="Y-m-d",###}</span>
                                <div class="xh_post_h_3_entry ofh" style="color:#555;height:80px; overflow:hidden;">
                                                                     {$Res.desc}
                                
                                </div>
                                <div class="b">
                                    <a href="{:url('article/index',array('id'=>$Res['id']))}" class="xh_readmore" rel="nofollow">read
                                        more</a> <span title="{$Res.zan}人赞" class="xh_love"><span class="textcontainer"><span>{$Res.zan}</span></span> </span> <span title="{$Res.click}人浏览" class="xh_views">
                                                    {$Res.click}</span>
                                </div>
                            </div>
                        </div>               
                        
                    {/volist}
             <div id="pagination"><div class="wp-pagenavi">
                {$data->render()}

                </div></div>
            </div>
        </div>
        <div id="xh_sidebar">        
<!-- 右侧 -->

         <div class="widget">

<div style="background: url('__INDEX__/images/hots_bg.png') no-repeat scroll 0 0 transparent;width:250px;height:52px;margin-bottom:15px;">
</div>
<ul id="ulHot">

{volist name="hot" id="ht"}
<li style="border-bottom:dashed 1px #ccc;height:70px; margin-bottom:15px;">
<div style="float:left;width:85px;height:55px; overflow:hidden;"><a href="{:url('article/index',array('id'=>$ht['id']))}" target="_blank"><img src="{$ht.thumb}" width="83" title="{$ht.title}" /></a></div>
<div style="float:right;width:145px;height:52px; overflow:hidden;"><a href="{:url('article/index',array('id'=>$ht['id']))}" target="_blank" title="{$ht.title}">{$ht.title}</a></div>
</li>
{/volist}



</ul>
                </div>
            
            <div class="widget portrait">
    <div>
        <div class="textwidget">
          
<script type="text/javascript">BAIDU_CLB_fillSlot("870073");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870080");</script>
<script type="text/javascript">BAIDU_CLB_fillSlot("870081");</script>
        </div>
    </div>
</div>

        </div>
        <div class="clear">
        </div>
    </div>
    <div class="boxBor"></div>

    <div class="boxBor" onclick="IBoxBor()" style="cursor:pointer;"></div>
    <script type="text/javascript">
        $(function () {
            var imgHoverSetTimeOut = null;
            $('.xh_265x265 img').hover(function () {
                var oPosition = $(this).offset();
                var oThis = $(this);
                $(".boxBor").css({
                    left: oPosition.left,
                    top: oPosition.top,
                    width: oThis.width(),
                    height: oThis.height()
                });
                $(".boxBor").show();
                var urlText = $(this).parent().attr("href");
                $("#hdBoxbor").val(urlText);
            }, function () {
                imgHoverSetTimeOut = setTimeout(function () { $(".boxBor").hide(); }, 500);
            });
            $(".boxBor").hover(
                function () {
                    clearTimeout(imgHoverSetTimeOut);
                }
                , function () {
                    $(".boxBor").hide();
                }
            );
        });
        function IBoxBor() {
            window.open($("#hdBoxbor").val());
        }
        function goanewurl() {
            window.open($("#hdUrlFocus").val());
        }
</script>

    </div>

    {include file="public/footer"}
<script type="text/javascript" src="__INDEX__/style/z700bike_global.js"></script>

</body>
</html>
